@use 'colors' as *;

.container {
    padding: 18px;
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 6px;
        border-bottom: solid 1px $light-gray;
        
        span {
            color: $yellow-mustard;
        }
        
        i {
            cursor: pointer;
        }
    }

    .cards-container {
        padding: 24px;
        display: flex;
        gap: 12px;
    }
}